.about-section {
    display: flex;
    justify-content: center; /* Menjaga konten tetap di tengah secara horizontal */
    align-items: center; /* Menjaga konten tetap di tengah secara vertikal */
    margin: 200px;
    text-align: left; /* Membuat teks rata kiri */
    flex-wrap: wrap; /* Menjaga agar elemen responsif pada layar kecil */
}

.about-img {
    flex: 1; /* Memberikan ruang fleksibel untuk gambar */
    margin-right: 20px; /* Memberikan jarak antara gambar dan teks */
    max-width: 100%;
}

.about-img img {
    width: 100%; /* Membuat gambar responsif */
    max-width: 5000px; /* Menambah ukuran gambar menjadi lebih besar */
    border-radius: 10px; /* Membuat sudut gambar melengkung */
}

.about-text {
    flex: 2; /* Memberikan lebih banyak ruang untuk teks */
    max-width: 600px; /* Membatasi lebar maksimal teks */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Memberikan bayangan lembut pada teks */
    border-radius: 8px; /* Membuat sudut teks melengkung */
}

.about-text h2 {
    color: #333; /* Warna teks untuk judul */
    font-size: 2em; /* Ukuran font untuk judul */
}

.about-text p {
    font-size: 1.2em; /* Ukuran font untuk paragraf */
    line-height: 1.6; /* Jarak antar baris yang nyaman dibaca */
    color: #555; /* Warna teks untuk paragraf */
}
